{% extends "layout.html" %}

{% block title %}Make Event{% endblock %}

{% block head %}
<style>
    html, body{
        background-color: var(--bs-tertiary-bg);
    }

    .scrollable-container {
        background-color: var(--bs-body-bg);
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        height: 80vh;
        overflow-y: auto;
    }
</style>
{% endblock %}

{% block content %}
<div class="col-md-12 mb-3">
    <h5 class="mb-3">Create Event</h5>
    <div class="scrollable-container">
        <form action="" method="POST">
            {{ form.hidden_tag() }}

            <p>
                <div class="form-group">
                    <label for="eventType" class="form-label">Event Type</label>
                    <select id="eventType" name="eventType" class="form-control">
                        <option value="private">Create Private Event</option>
                        <option value="public">Create Public Event</option>
                    </select>
                </div>
            </p>

            <p>
                <div class="form-group">
                    {{ form.title.label(class="form-label") }}
                    {{ form.title(class="form-control", id="titleFormInput", placeholder="Event Title") }}
                </div>
            </p>

            <p>
                <div class="form-group">
                    {{ form.starts_at.label(class="form-label") }}
                    {{ form.starts_at(class="form-control", id="startsAtInput") }}
                </div>
            </p>

            <p>
                <div class="form-group">
                    {{ form.ends_at.label(class="form-label") }}
                    {{ form.ends_at(class="form-control", id="endsAtInput") }}
                </div>
            </p>

            <p>
                <div class="form-group">
                    {{ form.capacity.label(class="form-label") }}
                    {{ form.capacity(class="form-control", id="capacityInput", placeholder="Leave blank for unlimited") }}
                </div>
            </p>

            <p>
                <div class="form-group">
                    {{ form.address_line1.label(class="form-label") }}
                    {{ form.address_line1(class="form-control", id="addressLine1Input", placeholder="Address Line 1") }}
                </div>
            </p>

            <p>
                <div class="form-group">
                    {{ form.address_line2.label(class="form-label") }}
                    {{ form.address_line2(class="form-control", id="addressLine2Input", placeholder="Address Line 2 (optional)") }}
                </div>
            </p>

            <p>
                <div class="form-group">
                    {{ form.description.label(class="form-label") }}
                    {{ form.description(class="form-control", id="detailsFormInput", placeholder="Event description", style="height: 200px") }}
                </div>
            </p>

            <p>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </p>
        </form>
    </div>
</div>
{% endblock %}