{% extends "layout.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block head %}
<style>
    html, body{
        background-color: var(--bs-tertiary-bg);
    }

    .scrollable-container {
        background-color: var(--bs-body-bg);
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        height: 650px;
        overflow-y: auto;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-8 mb-3">
        <div class="scrollable-container">
            <h3>{{ event.title }}</h3>

            <hr class="my-4">
            <h4>Description</h4>
            <p class="text-muted">
                {{ event.description }}
            </p>

            <hr class="my-4">
            <h4>Wishlist</h4>
            <p class="text-muted">
                {% if event.wishlist %}
                {{ event.wishlist }}
                {% else %}
                    —
                {% endif %}
</p>

            <hr class="my-4">
            <h4>Starts at</h4>
            <p class="text-muted">
                {{ event.starts_at }}
            </p>

            <hr class="my-4">
            <h4>Ends at</h4>
            <p class="text-muted">
                {{ event.ends_at }}
            </p>

            <hr class="my-4">
            <h4>Capacity</h4>
            <p class="text-muted">
                {% if event.capacity %}
                    {{ event.capacity }} attendees
                {% else %}
                    Unlimited
                {% endif %}
            </p>

            <hr class="my-4">
            <h4>Address line 1</h4>
            <p class="text-muted">
                {{ event.address_line1 }}
            </p>

            <hr class="my-4">
            <h4>Address line 2</h4>
            <p class="text-muted">
                {% if event.address_line2 %}
                    {{ event.address_line2 }}
                {% else %}
                    —
                {% endif %}
            </p>

            <hr class="my-4">
            <h4>Visibility</h4>
            <p class="text-muted">
                {% if event.is_public %}
                    Public event
                {% else %}
                    Private event
                {% endif %}
            </p>

            <hr class="my-4">
            <h5 class="text-muted">
                Posted By <a href="/view/{{ event.organizer.username }}">{{ event.organizer.username }}</a>
            </h5>

            <form action="{{ url_for('toggle_favorite', event_id=event.id) }}" method="POST">
                <input type="hidden" name="next" value="{{ request.path }}">
                {% if event in current_user.favorites %}
                    <button type="submit" class="btn btn-primary">Unfavorite</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">Favorite</button>
                {% endif %}
            </form>

            {% if current_user == event.organizer %}
                <h6 class="text-muted"><a href="/event/{{ event.id }}/edit">Edit</a></h6>
                <h6 class="text-muted"><a href="/event/{{ event.id }}/delete">Delete</a></h6>
            {% endif %}
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="scrollable-container">
            <h6>Ratings</h6>
            <form action="" method="POST">
                {{ rating_form.hidden_tag() }}
                <p>
                    <div class="form-group">
                        {{ rating_form.score.label(class="form-label") }}
                        {{ rating_form.score(class="form-control", id="titleRatingInput", min=1, max=5) }}
                    </div>
                </p>
                <p>
                    <div class="form-group">
                        {{ rating_form.submit(class="btn btn-primary") }}
                    </div>
                </p>
            </form>

            <hr class="my-4">
            <div class="scrollable-container" style="box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0)">
                <ul>
                    {% for r in event.ratings %}
                        <li>{{ r.user.username }} rated it {{ r.score }}/5</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12 mb-3">
        <div class="scrollable-container">
            <form action="" method="POST">
                {{ comment_form.hidden_tag() }}
                <p>
                    <div class="form-group">
                        {{ comment_form.comment.label(class="form-label") }}
                        {{ comment_form.comment(class="form-control", id="commentInput") }}
                    </div>
                </p>
                <p>
                    <div class="form-group">
                        {{ comment_form.submit(class="btn btn-primary") }}
                    </div>
                </p>
            </form>

            <hr class="my-4">
            <h4>Comments</h4>

            <div class="scrollable-container" style="box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0)">
                {% for c in event.comments %}
                    <h6>{{ c.user.username }}:</h6>
                    <p>{{ c.body }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}